 <section id="blog">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Blog Posts</h2>
          <p>Aqui você encontra alguns blogs e posts com assuntos relacionados</p>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="post-thumb">
              <a href="http://planetasustentavel.abril.com.br/blog/blog-do-clima/tag/poluicao/"><img class="img-responsive" src="components/images/blog/2.jpg" alt=""></a> 
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 155 Comentarios</span>
                <span><i class="fa fa-heart"></i> 5888 Likes</span> 
              </div>              
            </div>
            <div class="entry-header">
              <h3><a href="#">Planeta Sustentavel</a></h3>
              <span class="cetagory"><strong>Blog</strong></span>
            </div>
            <div class="entry-content">
              <p>Blog relacionado a sustentabilidade do planeta. </p>
            </div>
          </div>
          
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="post-thumb">
              <a href="http://epoca.globo.com/colunas-e-blogs/blog-do-planeta/noticia/2015/12/nuvem-de-poluicao-da-china-e-tao-espessa-que-pode-ser-vista-por-satelite.html"><img class="img-responsive" src="components/images/blog/4.jpg" alt=""></a>
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 1.508 Commentarios</span>
                <span><i class="fa fa-heart"></i> 989 Likes</span> 
              </div>            
            </div>
            <div class="entry-header">
              <h3><a href="#">Blog do Planeta</a></h3>
              <span class="cetagory"><strong>Blog</strong></span>
            </div>
            <div class="entry-content">
              <p>Época detalhando a poluição da china. </p>
            </div>
          </div>        
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="post-thumb">
              <a href="http://epoca.globo.com/colunas-e-blogs/blog-do-planeta/noticia/2015/12/nuvem-de-poluicao-da-china-e-tao-espessa-que-pode-ser-vista-por-satelite.html"><img class="img-responsive" src="components/images/blog/3.jpg" alt=""></a>
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 1.508 Commentarios</span>
                <span><i class="fa fa-heart"></i> 989 Likes</span> 
              </div>            
            </div>
            <div class="entry-header">
              <h3><a href="#">Blog do Planeta</a></h3>
              <span class="cetagory"><strong>Blog</strong></span>
            </div>
            <div class="entry-content">
              <p>Época detalhando a poluição da china. </p>
            </div>
          </div>            
        </div>
        <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
          <a href="#" class="btn-loadmore"><i class="fa fa-repeat"></i>Inicio</a>
        </div>                
      </div>
    </div>
  </section><!--/#blog-->