<section id="contact">
   
   <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Venham fazer parte de um grupo que realmente se preocupa com nosso planeta</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Nome" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email " required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Titulo" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Mensagem" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Sistema elaborado, com o propósito de avaliação de trabalho de conclusão de semestre no curso de ciência da computação, Universidade Paulista.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Campos:</span> Swift Campinas</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (99) 9999-99999  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="wandersonsantiago86@gmail.com"> trabalho@unip.br</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="http://unip.br">www.unip.br</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->