<section id="services">
    <div class="container" >
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Em Serviços</h2>
            <p>Você encontra tudo sobre todos os tipos de poluições, e aprende como ajudar a evitar a destruição de nosso planeta.</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-flask"></i>
            </div>
            <div class="service-info">
              <h3>Poluição do Ar</h3>
              <p>Também chamada de poluição atmosférica, refere-se à contaminação do ar por gases, 
              líquidos e partículas sólidas em suspensão, material biológico e até mesmo energia</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="service-info">
              <h3>Poluição da água</h3>
              <p>É a contaminação dos corpos d'água por elementos físicos, químicos e biológicos que podem 
              ser nocivos ou prejudiciais aos organismos, plantas e à atividade humana, ou seja, é um problema crítico</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-info">
              <h3>Poluição do solo</h3>
              <p>Ela é causada pela introdução de químicos ou a alteração do ambiente do solo pela ação do homem. Essas 
              substâncias químicas levam à poluição do solo e, direta ou indiretamente, à poluição da água e do ar.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="service-info">
              <h3>Poluição visual</h3>
              <p>É o excesso de elementos visuais criado pelo homem que estão, na maioria das vezes, espalhados 
              em grandes cidades.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-bitbucket"></i>
            </div>
            <div class="service-info">
              <h3>Poluição radioativa</h3>
              <p>Também conhecida como poluição nuclear, é considerada o tipo mais perigoso de poluição devido a 
              seus grandes efeitos negativos</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-gift"></i>
            </div>
            <div class="service-info">
              <h3>Poluição térmica</h3>
              <p>É pouco conhecida por não ser facilmente observável (ela não é visível ou audível), mas seu impacto é considerável.</p>
            </div>
          </div>
           <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-bitbucket"></i>
            </div>
            <div class="service-info">
              <h3>Poluição sonora</h3>
              <p>Ela é um dos maiores problemas ambientais nos grandes centros urbanos. Ocorre quando o som altera a condição 
              normal de audição em um determinado ambiente. </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-gift"></i>
            </div>
            <div class="service-info">
              <h3>Poluição luminosa</h3>
              <p>Trata-se do excesso de luz artificial emitida pelos grandes centros urbanos. Pode ser emitida de diversas formas,
               como por luzes externas, anúncios publicitários e, principalmente, pela iluminação pública</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->